*{
margin:0px;
padding:0px;
font-family:Arial; font-size:11px;
color:#313131;
}

body {margin: 0px; background-color:#e5e5e5;}

.mbor{background-color:#fff;}

.mbor1{border-left:2px solid #cfcfcf; border-right:2px solid #cfcfcf;}

.mbor2{border-left:1px solid #9a9a9a; border-right:1px solid #9a9a9a; border-bottom:1px solid #9a9a9a; background-color:#fff;}

.mcol{background-color:#05386d; height:7px;}

.mpad{padding:10px;}
.text {font-weight: 500; color: #333; text-decoration: none; text-align:left; font-size:12px; font-family:arial; padding-left:1px;}
.inp {font-weight: 400; color: #333; text-decoration: none; text-align:left; font-size:11px; font-family:arial; border:1px solid #d4d0c8; background-color:#fff; padding:1px;}
.but {font-weight: 700; color: #fff; text-decoration: none; text-align:center; font-size:11px; font-family:arial; border:1px solid #d4d0c8; background-color:#666; padding:6px;}
.but1 {font-weight: 700; color: #fff; text-decoration: none; text-align:center; font-size:11px; font-family:arial; border:1px solid #fff; background-color:#074979; padding:2px;}
.but2 {font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:arial; border:1px solid #074979; background-color:#fff; padding:2px; width:200px;}
.but3 {font-weight: 700; color: #fff; text-decoration: none; text-align:center; font-size:11px; font-family:arial; border:1px solid #fff; background-color:#074979; padding:3px;}
.fg {font-weight: 400; color: #333; text-decoration: underline; text-align:left; font-size:11px; font-family:arial; padding-left:5px;}

.but4 {font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:arial; border:1px solid #074979; background-color:#fff; width:200px; padding:2px 5px 2px 5px;}

.cl {font-weight: 400; color: #7cacda; text-decoration: none; text-align:right; font-size:11px; font-family:arial; padding-right:15px;}

.bg1{background-color:#E6F2F3; padding:4px;}
.bg2{background-color:#ECECEC; padding:4px;}
.bg3{background-color:#FDF6BF; padding:4px;}

.bred {font-weight: 700; color: #000; text-decoration: none; text-align:left; font-size:18px; font-family:arial;}
.bred a{font-weight: 700; color: #005FA3; text-decoration: underline; text-align:left; font-size:18px; font-family:arial;}

.bred1 {font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}

.home {font-weight: 700; color: #005FA3; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}
.home:hover {font-weight: 700; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}

.timeer {font-weight: 700; color: #ffffff; text-decoration: none; text-align:right; font-size:11px; font-family:tahoma; background-color:#D4E2FA; padding-right:0px;}

.errExist {font-weight: 700; color: #CD0000; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}
.errExist1 {font-weight: 400; color: #CD0000; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}

#table1{background-color:#FFFFFF; border:1px solid #BADCDE;}
#table1 td{padding:6px; font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}
#table1 td a{color: #0F367E; text-decoration: none; text-align:left;font-family:tahoma;}
#table1 td a:hover{color: #0753A2;}

#table2{background-color:#FFFFFF; border:1px solid #BADCDE; background-image:url(images/bbg.gif); background-repeat:repeat-x; background-position:left bottom;}
#table2 td{padding:10px; font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}
#table2 td h1{font-weight: 400; color: #000; text-decoration: none; text-align:left; font-size:16px; font-family:trebuchet ms;}
#table2 td .link{font-weight: 400; color: #184F87; text-decoration: none; text-align:right; font-size:11px; font-family:tahoma;}
#table2 td .link:hover{color: #1978D9;}
#table2 td div{float:left; padding-right:4px;}
#table2 td br{line-height:10px;}
#table2 td a{color: #005FA3; text-decoration: none; font-family:tahoma;}
#table2 td a:hover{color: #000; text-decoration: none; font-family:tahoma;}

#table3{background-color:#FFFFFF; border:1px solid #ccc;}
#table3 td{padding:10px; font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}
#table3 td h1{font-weight: 400; color: #000; text-decoration: none; text-align:left; font-size:16px; font-family:trebuchet ms;}
.tab3link{font-weight: 400; color: #053468; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma; padding:10px;}
.tab3link:hover{font-weight: 400; color: #05172B; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma; background-color:#FFFFFF;}
.tab3linkactive{font-weight: 400; color: #05172B; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma; background-color:#FFFFFF; padding:10px;}
.back{background-color:#DFECFD; border-top:1px solid #BDD6DD;}
.borbottom{ background-image:url(images/dot.gif); background-repeat:repeat-x;}
.tab3order{font-weight: 400; color: #053468; text-decoration: none; text-align:left; font-size:12px; font-family:tahoma; display:block; padding-bottom:5px;}
.tab3order:hover{color: #265F9E;}
#table3 td input{font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma; border:1px solid #E6E6E6; height:19px; padding-top:4px; padding-left:4px;}
#table3 td .div{float:left; padding-right:3px;}
.table3link{color: #005FA3; text-decoration: none; font-family:tahoma;}
.table3link:hover{color: #000; text-decoration: none; font-family:tahoma;}

#table4{background-color:#FFFFFF; border:1px solid #F4C69A;}
#table4 td{padding:6px; font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}
#table4 td h1{font-weight: 400; color: #000; text-decoration: none; text-align:left; font-size:16px; font-family:trebuchet ms;}
#table4 td a{color: #0F367E; text-decoration: none; text-align:left; font-family:tahoma;}
#table4 td a:hover{color: #0753A2;}
#table4 td div {float:left; padding-right:5px;}

#scbg{background-image:url(images/but1.gif); background-repeat:no-repeat; height:27px; width:257px; font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma; line-height:26px;}


#table5{background-color:#FFFFFF; border:1px solid #ccc;}
#table5 td{padding:10px; font-weight: 400; color: #313131; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma;}
#table5 td h1{font-weight: 400; color: #000; text-decoration: none; text-align:left; font-size:16px; font-family:trebuchet ms;}
.table5link{font-weight: 400; color: #184F87; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma; padding:0px 7px 0px 7px;}
.table5link:hover{color: #0D5CAC;}
.table5linkactive{font-weight: 700; color: #0D5CAC; text-decoration: none; text-align:left; font-size:11px; font-family:tahoma; padding:0px 7px 0px 7px;}


.table-format {
	font-size: 11px;
	font-family: tahoma;
	color: #000;
	font-weight: 400;

}

.table-format td {
	vertical-align: top;
    text-align: left;
	border-bottom: 1px solid #BAD5E4;
	border-left: 1px solid #BAD5E4;

}

.table-head{
	vertical-align: middle;
	font-size: 11px;
	font-family: tahoma;
	color: #fff;
	font-weight: 700;
	background-color:#fff;

}

.div1{font-weight: 700; color: #fff; text-decoration: none; text-align:center; font-size:11px; font-family:tahoma; background-color:#CC0099; line-height:21px; width:200px;}
.div2{font-weight: 700; color: #fff; text-decoration: none; text-align:center; font-size:11px; font-family:tahoma; background-color:#CD3000; line-height:21px; width:200px;}
.div3{font-weight: 700; color: #fff; text-decoration: none; text-align:center; font-size:11px; font-family:tahoma; background-color:#A407F5; line-height:21px; width:140px;}
.div4{font-weight: 700; color: #fff; text-decoration: none; text-align:center; font-size:11px; font-family:tahoma; background-color:#F6970F; line-height:21px; width:140px;}
.div5{font-weight: 700; color: #fff; text-decoration: none; text-align:center; font-size:11px; font-family:tahoma; background-color:#006600; line-height:21px; width:140px;}
.div6{font-weight: 700; color: #fff; text-decoration: none; text-align:center; font-size:11px; font-family:tahoma; background-color:#694825; line-height:21px; width:140px;}

.opacity IMG{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); moz-opacity: 1}
.opacity:hover IMG{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80); moz-opacity: 0.8}

.numtext{font-weight: 400; color: #313131; text-decoration: none; text-align:right; font-size:11px; font-family:tahoma; padding-right:5px;}
.numtext a{font-weight: 400; color: #313131; text-decoration: none; text-align:right; font-size:11px; font-family:tahoma;}
.numtext a:hover{font-weight: 400; color: #074979; text-decoration: none; text-align:right; font-size:11px; font-family:tahoma;}
.numtextactive{font-weight: 700; color: #074979; text-decoration: none; text-align:right; font-size:11px; font-family:tahoma;}

.table-format1 {
	font-size: 11px;
	font-family: tahoma;
	color: #313131;
	font-weight: 400;

}

.table-format1 td {
	vertical-align: middle;
    text-align: left;
	border-bottom: 1px solid #edecec;
	padding:5px;
	font-family: tahoma;

}

.table-head1{
	vertical-align: middle;
	font-size: 11px;
	font-family: tahoma;
	color: #fff;
	font-weight: 700;
	background-image:url(images/gr.gif); background-repeat:repeat-x; height:28px;

}

.table-format1 td a{
	font-size: 11px;
	font-family: tahoma;
	color: #313131;
	font-weight: 400;
	text-decoration:underline;
	}
	
	.table-format1 td a:hover{
	font-size: 11px;
	font-family: tahoma;
	color: #005fa3;
	font-weight: 400;
	text-decoration:none;
	}
	
.table-format1 td b{
	font-size: 11px;
	font-family: tahoma;
	font-weight: 700;
	text-decoration:none;
	}

.table-format1 td strong{
	font-size: 11px;
	font-family: tahoma;
	font-weight: 700;
	text-decoration:none;
	}

.table-format1 select {
	vertical-align: middle;
    text-align: left;
	border-bottom: 1px solid #edecec;
	padding:2px;
	font-family: tahoma;
	border:1px solid #ccc;
	background-color:#fff;
	width:140px;
	
.select {
	vertical-align: middle;
    text-align: left;
	border-bottom: 1px solid #edecec;
	padding:2px;
	font-family: tahoma;
	border:1px solid #ccc;
	background-color:#fff;
	width:140px;}
}


.tmenubg {background-image: url('images/tmenu-bg.gif'); background-repeat: repeat-x; height:40px; vertical-align:middle;}

.search-bor{border:1px solid #CFCFCF; padding:3px;}
.search-inp {font-weight: 400; font-size: 11px; color: #929292; text-decoration: none; border: 0px solid #ffffff; text-align:left; background-color:#FFFFFF; width:150px;}

.marginT25{ margin-top:25px;}
.marginR40{ margin-right:40px;}

.paddingTB10{padding:10px 0 10px 0;}
.padding20{padding:20px;}
.paddingT25{_padding-top:20px;}
.paddingB20{padding:0px 0 20px 0;}
.paddingL20{padding-left:20px;}

.texthm {font-weight: 400; color: #000; text-decoration: none; text-align:left; line-height:17px; vertical-align:top; padding-top:0px;}
.texthm p {font-weight: 400; color: #000; text-decoration: none; text-align:left; line-height:19px;}
.texthm h1{font-weight: 400; color: #000; font-size:18px; text-decoration: none; text-align:left; line-height:22px;}
.text1 {font-weight: 400; color: #000; text-decoration: none; text-align:left; line-height:17px; vertical-align:top; }
.text1 ul{margin-left:20px; }
.text1 ul li{margin-bottom:6px; }

/*  -- Sunil --  */
.text1 p { margin-bottom:16px;}
.texthm2 {font-weight: 400; color: #000; text-decoration: none; text-align:left; line-height:17px; vertical-align:top; padding-top:0px; width:684px;}
.mb-input {border-style: solid; border-width: 1px; border-color:#A1A1A1; font-size:12; font-family:Arial; padding:2px; width:200px;}
.mb-quantity {border-style: solid; border-width: 1px; border-color:#A1A1A1; font-size:12; font-family:Arial; padding:2px; width:20px;}

.mb-caption td {font-family:Tahoma; font-size:11px; line-height:14px; padding-top:4px;}
.mb-caption b  {font-family:Tahoma; font-size:11px; line-height:14px;}

.mb-mandatory {font-size:11px; font-family:Tahoma; color: #024E85;}

.newsmonths		{font-size:11px; font-family:Tahoma; color: #024E85;}
.month 			{font-size:11px; font-family:Tahoma; color: #024E85; text-decoration:none;}
.month:hover	{font-size:11px; font-family:Tahoma; color: #EE333F; text-decoration:none;}

.mb-smallText {font-size:11px; font-family:Tahoma; color: #024E85;}
.mb-smallText p {font-size:11px; font-family:Tahoma; color: #024E85;}

.mb-total	  {font-size:16px; font-family:Tahoma; color: #024E85; font-weight:700;}

.mb-label {font-weight: 400; font-size: 13pt; color: #EE333F; text-decoration: none; font-family:Trebuchet MS; margin-bottom:10px;}

#spanTotalPrice {font-weight: 400; font-size: 13pt; color: #EE333F; text-decoration: none; font-family:Trebuchet MS; margin-bottom:10px;}

.mb-added {font-weight: 700; font-size: 16px;}

h1 {font-weight: 700; font-size: 22pt; color: #000; text-decoration: none; font-family:Trebuchet MS; text-align:left; margin-bottom:10px;}
h2 {font-weight: 400; font-size: 20pt; color: #EE333F; text-decoration: none; font-family:Trebuchet MS; text-align:left; margin-bottom:16px;}

h3 {font-weight: 700; font-size: 11pt; color: #EE333F; text-decoration: none; font-family:Trebuchet MS; text-align:left; margin-top:16px; margin-bottom:16px;}

.h4 {font-weight: 700; font-size: 11pt; color: #EE333F; text-decoration: none; font-family:Trebuchet MS; margin-bottom:6px}

h4 {font-weight: 700; font-size: 11pt; color: #EE333F; text-decoration: none; font-family:Trebuchet MS; margin-bottom:16px; margin-top:16px;}

h5 {font-weight: 700; font-size: 13px; font-family:Trebuchet MS; margin-top:16px; margin-bottom:0px;}


.catText {font-weight: 400; font-size: 18px; line-height:24px;}


.mb-footer {font-family:Trebuchet MS; color:#000000; font-weight: 700; font-size: 17px;}
.mb-footer2 {font-family:Trebuchet MS; color:#727272;  font-weight: 700; font-size: 15px;}
.mb-footer2 a {font-family:Trebuchet MS; color:#EE333F;  font-weight: 700; font-size: 15px; text-decoration:none;}
.mb-footer2 a:hover {font-family:Trebuchet MS; color:#000000;  font-weight: 700; font-size: 15px; text-decoration:underline;}

.mb-footerContainer {padding:10px 20px 10px 0;}

.mb-innerlinks a {color:#EE333F; text-decoration:none;}
.mb-innerlinks a:hover {color:#000000; text-decoration:underline;}

TABLE.mb-formatTable {border-collapse: collapse; font-size: 12px; }
TABLE.mb-formatTable TR.mb-tableHeader{ background: #024E85; font-size: 12px; font-weight:700;}
TABLE.mb-formatTable TR.mb-tableHeader TD{ color:#ffffff;}
TABLE.mb-formatTable TR.mb-tableHeader2{ background: #E7E7E7;  font-weight:700;}
TABLE.mb-formatTable TR.mb-tableHeader2 TD{ color:#000000;}
TABLE.mb-formatTable TD { padding:4px;}

TABLE.mb-formatTable a { color: #024E85; text-decoration: none;}
TABLE.mb-formatTable a:hover { color: #000000; text-decoration: none;}






.mb-thumbnail a {font-weight:700; color:#000000; text-decoration:none; line-height:15px;}
.mb-thumbnail a:hover {color:#EE333F; text-decoration:none;}

TABLE.mb-formatImage {border-collapse: collapse; font-size: 12px; border:1px solid #e2e2e2; margin-bottom:10px}
TABLE.mb-formatImage TD { padding:4px;}



TABLE.mb-formatSupport {border-collapse: collapse; font-size: 12px; border:1px solid #e2e2e2;}
TABLE.mb-formatSupport TD { padding:4px; background-color:#f4f4f4;}


TABLE.mb-formatTable2 {border-collapse: collapse; font-size: 12px; border:1px solid #e2e2e2; }
TABLE.mb-formatTable2 TD { padding:4px;}

TABLE.mb-formatSupport {border-collapse: collapse; font-size: 12px; border:1px solid #e2e2e2;}
TABLE.mb-formatSupport TD { padding:4px; background-color:#f4f4f4;}



TABLE.mb-formatSupportDet {border-collapse: collapse; font-size: 12px; }
TABLE.mb-formatSupportDet TD {padding-bottom:10px; padding-top:10px; border-top:1px solid #e2e2e2;}
TABLE.mb-formatSupportDet TD span {color:#EE333F; font-weight:700;}


TABLE.mb-featuresTable {border-collapse: collapse; width:100%;}
TABLE.mb-featuresTable TD { padding:4px; vertical-align:top;}

TABLE.mb-contentTable {border-collapse: collapse; width:100%}
TABLE.mb-contentTable TR.mb-contentHeader {background-color:#e2e2e2; font-weight:700;}
TABLE.mb-contentTable TD { padding:4px; vertical-align:top; border-bottom:1px solid #e2e2e2;}

TABLE.mb-innerTable {border-collapse: collapse; width:100%}
TABLE.mb-innerTable TR.mb-innerHeader {background-color:#e2e2e2; font-weight:700;}
TABLE.mb-innerTable TD { padding:4px; vertical-align:top; border-bottom:1px solid #e2e2e2;}






TABLE.mb-formatCart {border-collapse: collapse; font-size: 12px; }
TABLE.mb-formatCart TR.mb-cartHeader{ background: #919191; font-weight:700; color:#ffffff}
TABLE.mb-formatCart TR.mb-cartHeader2{ background: #e2e2e2;}
TABLE.mb-formatCart TR.mb-cartHeader2 TD{ color:#000000; font-weight: 700; }

TABLE.mb-formatCart TD {border:1px solid #e2e2e2; padding:4px;}

TABLE.mb-formatCart a { color: #000000; text-decoration: none;}
TABLE.mb-formatCart a:hover { color: #EE333F; text-decoration: none;}

.mb-rec-table {background-color:#f1f1f1; border-collapse: collapse; border:1px solid #cccccc;}
.mb-rec-table td {padding:10px;}

.mb-rec-table1 {background-color:#FFFFFF; border-collapse: collapse; border:1px solid #cccccc; padding:10px;}
.mb-rec-table2 {background-color:#FFFFFF; border-collapse: collapse; border:1px solid #cccccc; padding:10px ; color:#000000;}

.mb-rec-table1-text {font-family:Tahoma; font-size:11px;}
.mb-rec-table1-text b {font-family:Tahoma; font-size:11px;}
.mb-rec-table1-text .price {font-family:Tahoma; font-size:11px; color:#EE333F;}


.mb-imgBorder{border:1px solid #CCCCCC;}

.mb-footnote p {font-family:Tahoma; font-size:11px; margin-bottom:6px; line-height:16px;}
.mb-footnote u {font-family:Tahoma; font-size:11px; color:#EE333F; margin-bottom:6px; line-height:16px; text-decoration:none}
.mb-footnote a {font-family:Tahoma; font-size:11px; color: #024E85; line-height:16px; text-decoration:none;}
.mb-footnote a:hover {font-family:Tahoma; font-size:11px; color: #024E85; line-height:16px; text-decoration:underline;}


#div-wrap { float:right;  padding-left:16px;  padding-bottom:16px; }
#div-wrap  img{ border:1px solid  #000000; }

/*  -- END --  */


.text {color: #000; text-decoration: none; text-align:left; line-height:17px; vertical-align:top;}
.text p {color: #000; text-decoration: none; text-align:left; line-height:19px;}

.hmainbg {background-image: url('images/mid-bg.gif'); background-repeat: no-repeat; height:411px; padding-left:42px; text-align:left;}
.hmainbg2 {background-image: url('images/mid-bg2.gif'); background-repeat: no-repeat; height:411px; padding-left:65px; padding-right:50px; padding-top:34px; text-align:left; vertical-align:top;}
.spaceimg {padding-left: 15px;}

.proframe {
background:no-repeat url(images/pro-frame.gif) #FFFFFF;
height:129px;
width:157px;
_height:120px;
_width:157px;
text-align:left; padding-right:19px; padding-left:10px; padding-bottom:10px;}

.proframe a {font-weight:700; color:#000000; text-decoration:none; line-height:15px;}
.proframe a:hover {color:#EE333F; text-decoration:none;}
.proframe a img {filter:alpha(opacity=100); opacity:1.0; border:0px;}
.proframe a:hover img {filter:alpha(opacity=80); opacity:0.8;  border:0px;}

.tbot-bor{border-bottom:1px solid #dadada;}
.tleft-bor{border-left:1px solid #C6C6C6;}

.titile {font-weight: 400; font-size: 11px; color: #A3A3A3; text-decoration: none; vertical-align:top;  padding-bottom:12px; padding-top:5px;}
.titile u {font-weight: 400; font-size: 11px; color: #A3A3A3; text-decoration: underline;}
.titile a {font-size:11px; color:#EE333F; text-decoration:none;}
.titile a:hover {color:#000000; text-decoration:none;}

.but-bg {background-image:url(images/but-bg.gif); padding: 3px 20px 3px 20px; font-weight: 700; font-size: 11px; color: #FFFFFF; text-decoration: none;}
.but-bg:hover {color: #000000; text-decoration: none;}

.menu-link {font-weight: 400 !important;
font-size: 12px !important;
color: #FFF !important;
text-decoration: none ;}
.menu-link:hover {color: #FFFFFF !important;; text-decoration: none !important;;}

#cart {font-weight: 400; font-size: 11px; color: #A3A3A3; text-decoration: none;}
#cart .items {font-size:11px; color:#000000; text-decoration:none;}
#cart .items:hover {color:#EE333F; text-decoration:none;}
#cart p{font-weight: 400; font-size: 11px; color: #A3A3A3; text-decoration: none;}
#cart a {font-size:11px; color:#A3A3A3; text-decoration:none;}
#cart a:hover {color:#000000; text-decoration:underline;}
#cart a img {filter:alpha(opacity=100); opacity:1.0; border:0px; vertical-align:middle;}
#cart a:hover img {filter:alpha(opacity=80); opacity:0.8;  border:0px;}


#details {font-weight: 400; font-size: 11px; color: #A3A3A3; text-decoration: none;}
#details .items {font-size:11px; color:#000000; text-decoration:none;}
#details .items:hover {color:#EE333F; text-decoration:none;}
#details span{font-weight: 400; font-size: 18px; color: #000000; text-decoration: none; padding-top:2px; display:block;}
#details a {background-color:#ffffff; font-size:11px; font-weight:700; color:#FFFFFF; text-decoration:none; padding: 0px 0px 0px 0px;}
#details a:hover {color:#000000; text-decoration:none; font-weight:700;}
#details .new {font-weight: 700; font-size: 11px; color: #e89900; text-decoration: none; text-align:right;}
#details td {font-weight: 400; font-size: 12px; color: #000000; text-decoration: none; text-align:left;}
#details a img{filter:alpha(opacity=100); opacity:1.0; border:0px; padding:0px;}
#details a:hover img{filter:alpha(opacity=80); opacity:0.8;  border:0px; padding:0px;}
#details .opacity a img{filter:alpha(opacity=100); opacity:1.0; border:0px;  padding:0px;}
#details .opacity a:hover img{filter:alpha(opacity=80); opacity:0.8;  border:0px; padding:0px;}

a img{filter:alpha(opacity=100); opacity:1.0; border:0px;}
a:hover img{filter:alpha(opacity=80); opacity:0.8;  border:0px;}


.img-bor{border:1px solid #000000;}
.img-bor:hover{border:1px solid #000000 !important;}


.sidepanels {font-weight: 400; font-size: 11px; color: #000; text-decoration: none; padding-right:25px; vertical-align:top; width:180px;}
.sidepanels h1 {font-weight: 700; font-size: 35pt; color: #000; text-decoration: none; font-family:Trebuchet MS; text-align:left;}
.sidepanels ul {list-style:none; padding:0px; margin:0px; margin-top:5px; border-bottom:#E1E1E1 1px solid;}
.sidepanels ul li {font-size:11px; color:#000; padding-bottom:7px; padding-top:8px; border-top:#E1E1E1 1px solid;}
.sidepanels ul li a {font-size:11px; color:#000; text-decoration:none; font-weight:700;}
.sidepanels ul li a:hover {color:#EE333F; text-decoration:none;}
.sidepanelsactive {color:#EE333F; text-decoration:none; font-weight:700; font-size:14px;}

#siddt {font-weight: 400; font-size: 11px; color: #000; text-decoration: none; padding-right:25px; vertical-align:top; width:405px;}
#siddt p {font-weight: 400; font-size: 12px; color: #000; text-align:left; line-height:20px; padding-bottom:17px;}
#siddt td {font-weight: 400; font-size: 12px; color: #000; text-align:left;}
#siddt h1 {font-weight: 700; font-size: 35pt; color: #000; text-decoration: none; font-family:Trebuchet MS; text-align:left; padding-bottom:15px;}
#siddt span {font-weight: 400; font-size: 18px; color: #000; text-decoration: none; text-align:left;}
#siddt img { border:#919191 1px solid; margin-right:6px;}
.noBorder { border:0px  !important; }
.com-com {font-weight:700; color:#ee333f; text-decoration:underline; font-size:12px;}
.com-com:hover {color:#000000; text-decoration:underline;}

.add-cart {color: #FFFFFF; background-image:url(images/add-to-cart.gif); padding: 6px 145px 6px 10px; font-weight: 700; font-size: 12px; text-decoration: none;}
.add-cart:hover {color: #000000; text-decoration: none;}

.img-display {padding-top:20px; padding-left:20px; padding-bottom:20px;}